/* Result.razor.css */
.choice {
    margin: 10px 0;
    border: 1px solid var(--mud-palette-primary);
    padding: 4px 12px 4px 0px;
    border-radius: 15px;
    transition: all 0.7s ease;
    width: 100%;
}

    .choice .mud-radio {
        width: 100%;
    }

/* TEMA CLARO (baseado na sua _lightPalette) */
.correct {
    background-color: #d0f5e4; /* Verde claro */
    border-color: #5faa47; /* Sucesso da _lightPalette */
    color: #1e4620;
}

.incorrect {
    background-color: #f8d7da; /* Vermelho claro */
    border-color: #cc4c4c; /* Error da _lightPalette */
    color: #5c1a16;
}

/* TEMA ESCURO (baseado na sua _darkPalette) */
.mud-dark-theme .correct {
    background-color: #1b4024; /* Verde escuro */
    border-color: #5faa47; /* Sucesso da _darkPalette */
    color: #d1fae5;
}

.mud-dark-theme .incorrect {
    background-color: #3c1a1a; /* Vermelho escuro */
    border-color: #e15b5b; /* Error da _darkPalette */
    color: #fee2e2;
}
