<div class="editor-container">

	<!-- Toolbar -->

	<div class="editor-toolbar">

		<!-- Undo / Redo -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button"
				title="Desfazer"
				(click)="undo()">

				↶

			</button>

			<button
				type="button"
				class="toolbar-button"
				title="Refazer"
				(click)="redo()">

				↷

			</button>

		</div>


		<div class="toolbar-divider"></div>


		<!-- Paragraph / headings -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isActive('paragraph')"
				(click)="setParagraph()">

				P

			</button>

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isHeading(1)"
				(click)="setHeading(1)">

				H1

			</button>

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isHeading(2)"
				(click)="setHeading(2)">

				H2

			</button>

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isHeading(3)"
				(click)="setHeading(3)">

				H3

			</button>

		</div>


		<div class="toolbar-divider"></div>


		<!-- Formatting -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button bold"
				[class.active]="isActive('bold')"
				(click)="toggleBold()">

				B

			</button>

			<button
				type="button"
				class="toolbar-button italic"
				[class.active]="isActive('italic')"
				(click)="toggleItalic()">

				I

			</button>

			<button
				type="button"
				class="toolbar-button strike"
				[class.active]="isActive('strike')"
				(click)="toggleStrike()">

				S

			</button>

		</div>


		<div class="toolbar-divider"></div>


		<!-- Lists -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isActive('bulletList')"
				(click)="toggleBulletList()">

				☷

			</button>

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isActive('orderedList')"
				(click)="toggleOrderedList()">

				1.

			</button>

		</div>


		<div class="toolbar-divider"></div>


		<!-- Block -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isActive('blockquote')"
				(click)="toggleBlockquote()">

				❝

			</button>

			<button
				type="button"
				class="toolbar-button"
				(click)="setHorizontalRule()">

				―

			</button>

		</div>


		<div class="toolbar-divider"></div>


		<!-- Link -->

		<div class="toolbar-group">

			<button
				type="button"
				class="toolbar-button"
				[class.active]="isActive('link')"
				(click)="setLink()">

				🔗

			</button>

		</div>

	</div>


	<!-- Editor -->

	<div
		#editorElement
		class="editor-content"
		[attr.data-placeholder]="placeholder()">
	</div>

</div>
